#services {
    background-color: $white;
    h1 {
        color: $charcoal;
        text-align: center;
        font-family: 'Playfair Display';
        font-size: 3em;
    }
    hr {
        border-top: 1px solid $charcoal;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    i {
        margin-bottom: 1em;
        margin-top: 0.5em;
        text-align: center;
        align-self: center;
        font-size: 3em;
        color: $gold;
    }
    .card {
        border-radius: 1px;
        border: none;
        background-color: white;
        z-index: 1;
        margin-bottom: 2em;
        margin-top: 1em;
        hr {
            border-top: 1px solid $white !important;
            margin-left: 1em !important;
            margin-right: 1em !important; 
        }
    }
    .card-title {
        padding-top: 0.8em;
        color: $charcoal;
        font-size: 1.8rem;
        font-family: 'Playfair Display';
    }
    .card-img {
        padding: 1em;
    }
    .card-text {
        color: $charcoal;
        font-family: 'Open Sans';
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2.5em;
    }
}



.absolute-buttons {
    width: 100%;
    font-family: 'Open Sans';
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -3.2em;
    z-index: 2;
}