#testimonials {
    background-color: $charcoal;
    color: $white;
    
    h1 {
        font-family: 'Playfair Display';
        text-align: center;
    }

    i {
        margin-bottom: 1em;
        margin-top: 0.5em;
        text-align: center;
        align-self: center;
        font-size: 4em;
        color: $gold;
    }

    .card {
        border-radius: 0px;
        background-color: $white;
        padding-top: 0em;
        margin-top: 0em;
        margin-bottom: 2em;
        height: 95%;
    }

    .quote {
        font-family: 'IM Fell French Canon SC';
        text-align: center;
        font-size: 5em;
        color: $red;
        position: relative;
        top: 40px;
    }

    .card-text {
        font-family: 'Open Sans';
        font-size: 1.2em;
        color: $charcoal;
        padding-left: 2em;
        padding-right: 2em;
    }

    .author {
        padding-bottom: 2em;
    }

    hr {
        border-top: 1px solid $red;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

