#welcome {
    background-color: $charcoal;
    color: $white;

    hr {
        border-top: 1px solid $white; 
    }

    // XS, small screens
    @media (max-width: 768px) {
        h1 {
            align-self: center;
            text-align: center;
        }
    }
}

.welcome-body {
    padding-top: 1em;
    font-family: 'Open Sans';
}

#pompadourWoman {
    height: 300px;
    width: auto;
}

// XS and small screens
.welcome-large {
    font-size: 1.4em;
}

// Medium screens and above
@media (min-width: 768px) {
    .welcome-large {
        font-size: 2em;
    }
    #pompadourWoman {
        height: 350px;
    }
}

// Large screens and above
@media (min-width: 992px) {
    #pompadourWoman {
        height: 400px;
    }
}