.modal-content {
    background-color: $blueCharcoal;

    span {
        font-family: 'Open Sans';
        color: $white;
        font-weight: bold;
    }

    p {
        font-size: 0.9em;
        font-family: 'Open Sans';
        color: $white;
        opacity: 0.8;
    }

    .close {
        color: $white;
    }

    hr {
        border-color: $white;
    }

    .price-list-title {
        font-family: 'Playfair Display';
        color: $white;
        text-align: center;
    }

    // XS and small screens
    @media (max-width: 575.98px) {
        .barber-pole {
            // width: 2vw;
            // height: auto;
            display: none;
        }
    }

    // .price-list {
    //     margin-left: 3vw;
    //     margin-right: 3vw;
    // }

    // To add dots between list item and price
    // dl {
    //     width: 100%;
    //     margin-bottom: 0px !important;
    //     font-family: 'Open Sans';
    //     color: $white;
    //     overflow: hidden;
    //     white-space: nowrap;
    // }
    // dt {
    //     float: left;
    //     width: 90%;
    //     overflow: hidden;
    //     white-space: nowrap;
    // }
    // dd {
    //     float: left;
    //     overflow: hidden;
    //     white-space: nowrap;
    // }
    // dt span:after {
    //     content: " ..................................................................................";
    //     content: "                                                                                    ";
    //     white-space: nowrap;
    // }
}