#wrapper {
    overflow: hidden;
}

.page-section {
    padding: 4em;
}

.section-header {
    font-family: 'Playfair Display';
}

.logo-banner {
    img {
        width: 200px;
        height: auto;
        margin-bottom: -20px;
    }
}

// Reduce container margin on XS screens and hide overflows
@media (max-width: 576px) {
    .page-section {
       padding-left: 0em;
       padding-right: 0em;
    }
}