// Variables

// Set custom colours
$white: #f0eee4;
$paper: #f4f4f4;
$charcoal: #36454f;
$darkCharcoal: #333333;
$blueCharcoal: #262b2f;
$red: rgb(139, 46, 46);
$darkRed: hsl(0, 50.3, 26.3);
$gold: #c7b395;